* {
    margin: 0;
}

/* Setting color and font variables */
:root {
    --dark-blue: #0c215f;
    --light-blue: #70b3ff;
    --alata: 'Alata', sans-serif;
    --lato: 'Lato', sans-serif;
}

.flightList {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.flight {
    width: 200px;
    margin: 10px;
}

/* Main page jumbotron */
.jumbo {
    background-image: url('/assets/jumboImg3.png');
    background-color: var(--dark-blue);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    max-width: 100vw;
    height: 60vh;
    margin-top: -10px;
}

.triangleJumbo {
    /* Creates point at bottom of jumbotron image */
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
    clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
}

#jumbo-text {
    color: white;
    display: flex;
    font-family: var(--alata);
    font-size: 11vw;
    margin: 0 auto;
    text-shadow: 2px 1px 8px rgba(12, 33, 95, 1);
}

/* Styling for logged in nav bar */

nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--dark-blue);
    color: white;
    padding: 10px;
    margin-top: -30px;
}

nav h5 {
    cursor:pointer;
    font-size: 25px;
    font-family: var(--lato);
}

nav h5:hover {
    color: var(--light-blue);
}

/* Styling for logged out nav icons */

#nav-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    color: var(--dark-blue);
}

.card img {
    display: flex;
    max-width: 40%;
    margin: 0 auto;
}


.card button {
    max-width: 50%;
    font-family: var(--alata);
    font-size: 20px;
    margin: 0 auto;
    background-color: var(--dark-blue);
}

.card button:hover {
    background-color: var(--light-blue);
}

/* Styling for welcome header */

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
<<<<<<< HEAD
    height: 25vh;
    margin-top: 0;
=======
    height: 15vh;
>>>>>>> e4f54dd9bef3b456ab314b440b204711d362fe1f
}

.welcome h2{
    font-size: 60px;
    color: var(--dark-blue);
}

/* Styling for signup and login */

#signUpModal, #logInModal {
    font-size: 25px;
}

#signUpModalHeader, #logInModalHeader {
    background-color: var(--dark-blue);
    color: white;
}

#signUpModalHeader button, #logInModalHeader button {
    color: white;
}

#logInButton, #signUpButton {
    border-radius: 4px;
}

#logInButton:hover, #signUpButton:hover {
    background-color: var(--light-blue)
}
/* Search APIs */


.searchCards {
            /* Placeholder */
}

.searchSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.searchCard {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--dark-blue);
    justify-content: center;
    align-items: center;
    padding: 70px 130px;
    background-color: var(--dark-blue);
    margin-bottom: 40px;
    color: white;
    font-family: var(--lato);
    max-width: 50%;
    margin: 5px;
    margin-bottom: 20px;
}

.searchCard h1 {
    color: var(--light-blue);
    margin-bottom: 20px;
}

.searchCardImg {
    margin-top: -20px;
    max-width: 10vw;
}

.searchCard form {
    display: flex;
    flex-direction: column;
    color: var(--light-blue);
    font-size: 20px;
}

.searchCard input, select  {
    max-width: 90%;
}




/* My Flights when logged in */
.myFlights {
    background-image: url('/assets/backgroundTop.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    height: 100vh;
    color: white;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#search-my-flights {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myFlightTitle h2{
    justify-content: center;
    font-size: 75px;
    color: var(--light-blue);
    padding: 10px;
}

.myFlightsDisplay {
    display:flex;
    padding-top: 100px;
}

.myFlights form {
    color: var(--dark-blue);
}

.flight button {
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

/* Create a new flight */
.createFlight {
    background-image: url('/assets/backgroundTop.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    height: 100vh;
    color: white;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#add-flight-button{
    background-color: var(--light-blue);
    padding: 10px 20px;
    border: 2px solid var(--dark-blue);
}

/* Styling for Community Board */

.memoryBoard {
    background-image: url('/assets/backgroundTop.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    height: 100vh;
    color: white;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.memoryTitle h2{
    justify-content: center;
    font-size: 75px;
    color: var(--light-blue);
    padding: 10px;
}

.memoryTitle h4{
    justify-content: center;
    font-size: 40px;
    color: var(--light-blue);
    background-color: var(--dark-blue);
    padding: 5px;
    margin: 0px
}

.memories {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: var(--dark-blue)
}

.memory {
    margin: 20px 5px;
    width: 240px;
    border: 6px outset var(--light-blue);
    color: black;
    background-color: white;
}

.memory-body {
    margin: 5px;
    color: var(--dark-blue)
}

.memory-body h3 {
    margin-top: 4px;
}


.memory-footer {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.lnr-trash {
    font-size: 20px;
    color: var(--light-blue)
}

#add-memory-button{
    background-color: var(--light-blue);
    padding: 10px 20px;
    border: 2px solid var(--dark-blue);
}



.comment-button {
    background-color: var(--light-blue);
}

.comment-button:active {
    background-color: var(--dark-blue);
    color:white;
}

#comment-modal {
    top: 30%
}

#post-modal {
    top: 30%
}

#comment-header {
    background-color: var(--dark-blue);
    color: white;
}

#comment-header button {
    color: white;
}

.comment {
    display: flex;
    justify-content: space-between;
}

#post-header {
    background-color: var(--dark-blue);
}

#post-header h4 {
    color: white;
}

#create-post input[type='text'], #create-post input[type='number']{
    color: black;
}

#create-post input[type='submit'], #create-post button {
    background-color: var(--dark-blue);
    color: white;
}

.memory-form input{
    width: 100%;
    margin-bottom: 10px;
}

.memoryForm {
    padding: 20px;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
}



#commentField {
    width: 80%
}

li{
    list-style-type: none;

}
#baseCurrency, #convertedCurrency{
    background-color: lightgray;
    margin-bottom: 0;
}
#savedFlights{
    color: black;
}

/* #searchFlights{
    display: flex;
    justify-content: space-around;
    margin-top: 4%
<<<<<<< HEAD
} */

<<<<<<< HEAD
/* .api{
    display: flex;
    justify-content: space-around;
    margin-top: 4%
=======
>>>>>>> 3aa311b7cedb0f8d7c93a39cda87370539eb71e6
} */

#baseCurrency, #convertedCurrency{
    background-color: lightgray;
    margin-bottom: 0;
}
#savedFlights{
    color: black;
=======

/* Footer section */

footer {
    height: 10vh;
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    color: white;
    font-family: var(--alata);
>>>>>>> e4f54dd9bef3b456ab314b440b204711d362fe1f
}
