* {
    margin: 0;
}

.flightList {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.flight {
    width: 200px;
    margin: 10px;
}

/* Main page jumbotron */
.jumbotron {
    /* background-image: url('/assets/jumboImg.jpg'); */
    background-color: #5370ff;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-size: cover;
    height: 55vh;
    max-width: 100vw;
}

#jumbo-text {
    color: white;
    font-size: 120px;
    text-align: center;
    margin: 0 auto;
}

/* Styling for logged in nav bar */

nav {
    display: flex;
    justify-content: space-around;
    background-color: #37b7ff;
    color: white;
    padding: 10px;
}

nav h5 {
    cursor:pointer;
    font-size: 20px;
}

/* Styling for logged out nav icons */

#nav-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    color: #5370ff;
    font-size: 250%;
}

.card img {
    display: flex;
    max-width: 40%;
    margin: 0 auto;
}

/* Jumbotron image from https://unsplash.com/photos/iiVuXgLEm6k */
