

.flightList {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.flight {
    width: 200px;
    margin: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: lightgrey;
}
