

        <!-- This is our API search form -->
    <div class="searchCards" ng-controller = "SearchFlightsController as ctrl">
        <div class="searchFields">
            <div class="searchSection">

                <div class="searchCard">
                    <img src="/assets/searchFlightIcon.png" class="searchCardImg" alt="Search Flight Icon">
                    <h1>Search Flights</h1>

                    <form ng-submit = "ctrl.searchFlights()">
                        Outbound Airport<select ng-model="ctrl.userOutboundAir">
                            <option value="BUF">BUF-Buffalo, NY</option>
                            <option value="CLE">CLE-Cleveland, OH</option>
                            <option value="DCA">DCA-Washington DC - National</option>
                            <option value="HNL">HNL-Honolulu, HI - Island of Oahu</option>
                            <option value="ITO">ITO-Hilo, HI - Island of Hawaii</option>
                            <option value="JFK">JFK-New York, NY - Kennedy</option>
                            <option value="LAX">LAX-Los Angeles, CA</option>
                            <option value="MCO">MCO-Orlando, FL - International</option>
                            <option value="PBI">PBI-West Palm Beach, FL</option>
                            <option value="PDX">PDX-Portland, OR</option>
                            <option value="PIT">PIT-Pittsburgh, PA </option>
                            <option value="PSP">PSP-Palm Springs, CA</option>
                            <option value="PUB">PUB-Pueblo, CO </option>
                            <option value="SAN">SAN-San Diego, CA</option>
                            <option value="SAT">SAT-San Antonio, TX</option>
                            <option value="SBA">SBA-Santa Barbara, CA</option>
                            <option value="SFO">SFO-San Francisco, CA</option>
                            <option value="SLE">SLE-Salem, OR</option>

                        </select> <br/>
                    </form>

                        <form ng-submit = "ctrl.searchFlights()">
                        Or search by IATA code<input type="text" ng-model="ctrl.userOutboundAir" placeholder="Outbound Airport"> <br/>

                        Inbound Airport<select ng-model="ctrl.userInboudAir">
                            <option value="BUF">BUF-Buffalo, NY</option>
                            <option value="CLE">CLE-Cleveland, OH</option>
                            <option value="DCA">DCA-Washington DC - National</option>
                            <option value="HNL">HNL-Honolulu, HI - Island of Oahu</option>
                            <option value="ITO">ITO-Hilo, HI - Island of Hawaii</option>
                            <option value="JFK">JFK-New York, NY - Kennedy</option>
                            <option value="LAX">LAX-Los Angeles, CA</option>
                            <option value="MCO">MCO-Orlando, FL - International</option>
                            <option value="PBI">PBI-West Palm Beach, FL</option>
                            <option value="PDX">PDX-Portland, OR</option>
                            <option value="PIT">PIT-Pittsburgh, PA </option>
                            <option value="PSP">PSP-Palm Springs, CA</option>
                            <option value="PUB">PUB-Pueblo, CO </option>
                            <option value="SAN">SAN-San Diego, CA</option>
                            <option value="SAT">SAT-San Antonio, TX</option>
                            <option value="SBA">SBA-Santa Barbara, CA</option>
                            <option value="SFO">SFO-San Francisco, CA</option>
                            <option value="SLE">SLE-Salem, OR</option>

                            <!-- <input type="text" ng-model="ctrl.userInboundAir" placeholder="Inbound Airport"> -->
                        </select> <br/>
                        Outbound Date: <input type="text" ng-model = "ctrl.userOutboundDate" placeholder="2019-12-01"><br/>
                        Inbound Date: <input type="text" ng-model = "ctrl.userInboundDate" placeholder="2019-12-10"><br/>
                        <input type="submit" value="Search Flights">
                    </form>
                    </div>



                    <div class="searchCard">
                     <img src="/assets/searchCurrencyIcon.png" class="searchCardImg" alt="Search Money Icon">

                        <h1>Convert Currency</h1>
                        <form ng-submit = "ctrl.currency()">
                            To <select ng-model="ctrl.toCountry">
                                <option value="AUD">AUD-Australian Dollar</option>
                                <option value="CAD">CAD-Canadian dollar</option>
                                <option value="CHF">CHF-Swiss franc</option>
                                <option value="CNY">CNY-Chinese Yuan</option>
                                <option value="EUR">EUR-Euro</option>
                                <option value="GBP">GBP-British pound</option>
                                <option value="JPY">JPY-Japanese Yen</option>
                                <option value="MXN">MXN-Mexican peso</option>
                                <option value="NZD">NZD-New Zealand Dollar</option>
                                <option value="USD">USD-U.S dollar</option>
                            </select> <br/>


                            From <select ng-model="ctrl.fromCountry">
                                <option value="AUD">AUD-Australian Dollar</option>
                                <option value="CAD">CAD-Canadian dollar</option>
                                <option value="CHF">CHF-Swiss franc</option>
                                <option value="CNY">CNY-Chinese Yuan</option>
                                <option value="EUR">EUR-Euro</option>
                                <option value="GBP">GBP-British pound</option>
                                <option value="JPY">JPY-Japanese Yen</option>
                                <option value="MXN">MXN-Mexican peso</option>
                                <option value="NZD">NZD-New Zealand Dollar</option>
                                <option value="USD">USD-U.S dollar</option>

                             </select> <br/>
                            <input type="submit" value="Convert Currency">
                        </form>
                </div>
            </div>
        </div>

<!-- Search Results             -->
            <div>
                    <li ng-repeat="currency in ctrl.foundCurrency">
                        <ul>
                            <li id="baseCurrency">{{currency.amount}} {{currency.base_currency_name}}  </li>
                        </ul>
                    </li>
                    <li ng-repeat="currency in ctrl.foundCurrency.data.rates ">

                        <ul>
                            <li id="convertedCurrency">= {{currency.rate}} {{currency.currency_name}} </li>


                        </ul>
                    </li>
                </div>
                <div>
                <table ng-if="ctrl.foundFlights !== undefined" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Airline</th>
                            <th>Quote #</th>
                            <th>Currency</th>
                            <th>Cost</th>
                            <th>Direct Flight</th>
                            <th>Outbound Airport</th>
                            <th>Outbound Flight Date</th>
                            <th>Inbound Airport</th>
                            <th>Inbound Flight Date</th>
                            <th>Flight Quote Date</th>
                            <th>Add to Saved Flights</th>

                        </tr>
                    </thead>


                    <tbody>
                        <div ng-if="ctrl.foundFlights.Quotes.length === 0">
                            <h5>Sorry, no flight quotes found for this day</h5>
                        </div>
                        <tr ng-repeat="flight in ctrl.foundFlights.Carriers" ng-if="ctrl.foundFlights.Quotes[0].QuoteId">

                            <td >{{flight.Name}}</td>

                            <td ng-repeat="flight in ctrl.foundFlights.Quotes | limitTo:1">Quote #: {{flight.QuoteId}}</td>
                            <td ng-repeat="flight in ctrl.foundFlights.Currencies">{{flight.Code}} {{flight.Symbol}}</td>
                            <td ng-repeat="flight in ctrl.foundFlights.Quotes | limitTo:1">{{flight.MinPrice}}</td>
                            <td ng-repeat="flight in ctrl.foundFlights.Quotes | limitTo:1">{{flight.Direct}}</td>
                            <td ng-repeat="flight in ctrl.foundFlights.Places | limitTo:1"> {{flight.IataCode}}, {{flight.Name}}</td>
                            <td ng-repeat="flight in ctrl.foundFlights.Quotes |limitTo:1">{{flight.OutboundLeg.DepartureDate.substring(0,10)}}</td>
                            <td ng-repeat="flight in ctrl.foundFlights.Places" ng-show="!$first">{{flight.IataCode}}, {{flight.Name}}</td>
                            <td ng-repeat="flight in ctrl.foundFlights.Quotes |limitTo:1">{{flight.InboundLeg.DepartureDate.substring(0,10)}}</td>
                            <td ng-repeat="flight in ctrl.foundFlights.Quotes |limitTo:1">{{flight.QuoteDateTime}}</td>
                            <td>
                                <form ng-submit="ctrl.createFlightSearch(flight)">
                                    <!-- <input type="text" ng-model = "ctrl.airline" placeholder="airline"><br/> -->

                                    <input type="submit" value="Add"/>
                                </form>
                            </td>
                        </tr>
                        <tr ng-repeat="flight in ctrl.foundFlights.Carriers" ng-if="ctrl.foundFlights.Quotes[1].QuoteId">
                            <td>{{flight.Name}}</td>

                            <td>Quote #: {{ctrl.foundFlights.Quotes[1].QuoteId}}</td>
                            <td ng-repeat="flight in ctrl.foundFlights.Currencies">{{flight.Code}} {{flight.Symbol}}</td>
                            <td ng-repeat="flight in ctrl.foundFlights.Quotes" ng-show="!$first">{{flight.MinPrice}}</td>
                            <td ng-repeat="flight in ctrl.foundFlights.Quotes" ng-show="!$first">{{flight.Direct}}</td>
                            <td ng-repeat="flight in ctrl.foundFlights.Places" ng-show="!$first"> {{flight.IataCode}}, {{flight.Name}}</td>
                            <td ng-repeat="flight in ctrl.foundFlights.Quotes | limitTo:1">{{flight.OutboundLeg.DepartureDate.substring(0,10)}}</td>
                            <td ng-repeat="flight in ctrl.foundFlights.Places" ng-show="!$first">{{flight.IataCode}}, {{flight.Name}}</td>
                            <td ng-repeat="flight in ctrl.foundFlights.Quotes |limitTo:1">{{flight.InboundLeg.DepartureDate.substring(0,10)}}</td>
                            <td ng-repeat="flight in ctrl.foundFlights.Quotes |limitTo:1">{{flight.QuoteDateTime}}</td>
                            <td>
                                <form ng-submit="ctrl.getFlightSearches(flight)" >

                                    <input type="submit" value="Add"/>
                                </form>
                            </td>
                        </tr>
                        </tbody>

                    </div>

    </div>


    <!-- flight widget -->
    <!-- <div data-skyscanner-widget="FlightSearchWidget" data-locale="en-GB"></div>
    <script src="https://widgets.skyscanner.net/widget-server/js/loader.js" async></script> -->


    <!-- <li ng-repeat="flight in ctrl.foundFlights.Carriers">

        <ul>
            <li>{{flight.Name}}:</li>

                <ul ng-repeat="flight in ctrl.foundFlights.Quotes">
                    <br/>
                    <li>Quote #: {{flight.QuoteId}}</li>
                    <li ng-repeat="flight in ctrl.foundFlights.Currencies">Round Trip Cost: {{flight.Code}} {{flight.Symbol}}</li>
                    <li>{{flight.MinPrice}}</li>
                    <li>Direct Flight: {{flight.Direct}} </li>
                    <li ng-repeat="flight in ctrl.foundFlights.Places | limitTo:1">Outbound Airport: {{flight.IataCode}}, {{flight.Name}}</li>

                    <li>{{flight.Name}}</li>

                    <li> Departure Date & Time:{{flight.OutboundLeg.DepartureDate.substring(0,10)}}</li>

                    <li ng-repeat="flight in ctrl.foundFlights.Places" ng-show="!$first">Inbound Airport: {{flight.IataCode}}, {{flight.Name}}</li>

                    <li> Departure Date & Time: {{flight.InboundLeg.DepartureDate.substring(0,10)}}</li>

                    <li>Quoted on: {{flight.QuoteDateTime}}</li>
                </ul>
        </ul>

    </li> -->
