<!-- Include this in index.html -->

<button type="button" ng-click="">Create Account</button>

<!-- This can either stay here and be linked as an include or be copied into index.html -->

<h3>Sign Up:</h3>
    <form>
        <label for="signupUsername">Username:</label>
        <input id="signupUsername" type="text" ng-model="">
        <label for="signupPassword">Password:</label>
        <input id="signupPassword" type="password" ng-model="">
        <input type="submit" value="Sign Up">
    </form>
